{% extends 'global/base.html' %}

{% block content %}
{% load static %}
<style>
    #carouselExampleIndicators .carousel-item img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    .collums {
        padding: 0 20px;
    }

    .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 0 15px;
    }

    .card {
        margin: 0 15px 20px;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        grid-gap: 10px;
        grid-auto-rows: minmax(auto-fill, 300px);
        overflow: hidden;
    }

    #carouselExampleIndicators,
    .collums {
        font-family: Helvetica, sans-serif;
    }

    .btn {
        background-color: #fff;
        border: 0px;
    }
    .btn :hover{
        border: 0px;

    }

</style>
<div class="container mt-5">
        <div class="col-md-6">
            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="cards">
                    <div class="card">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="{{ alimento.foto_alimento.url }}" class="d-block w-100" alt="{{ alimento.nome_alimento }}">
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="col-md-6">
                        <div class="collums">
                            <h2 style="font-weight: bold; font-size: 50px;">{{ detalhes_alimento.nome_alimento }}</h2>
            
                            <h5>Descrição:</h5>
                            <p>{{ detalhes_alimento.descricao }}</p>
            
                            <h5>Duração:</h5>
                            <p>{{ detalhes_alimento.duracao }}</p>

                            <div class="btn-group">
                                <div class="btn-group">
                                    {% if user.is_authenticated %}
                                        {% if alimento %}
                                            {% if favorito %}
                                                <button class="btn"><a href="{% url 'favoritar' alimento.id %}"><img style="height: 20px;" src="{% static '../static/images/desfavoritar1.png' %}"></a></button>
                                            {% else %}
                                                <button class="btn"><a href="{% url 'favoritar' alimento.id %}"><img style="height: 20px;" src="{% static '../static/images/favoritar.png' %}"></a></button>
                                            {% endif %}
                                        {% endif %}
                                    {% else %}
                                        <button class="btn"><a href="{% url 'login' %}"><img style="height: 10px;" src="{% static '../static/images/favoritar.png' %}"></a></button>
                                    {% endif %}
                                </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>

        <!-- Conteúdo à direita -->

</div>
{% endblock %}