
{% extends 'cinema_app/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}

{% block body %}
    <div class="container-game">
        <div>
            <img src="{{ filme.cartaz }}" alt="">
        </div>
        <div class="container-data">
            <h1>{{ filme.nome }}</h1>

            {% if review %}
                <div class="review">
                    {{ review.text }}
                </div>
            {% else %}
                <div class="">
                    <button id="addReview">Adicionar Review</button>
                </div>
            {% endif %}
            
            
            <div class="container-user-reviews">
                <h2 class="review-title">Review dos usuários</h2>
                <div class="user-reviews">
                    {% for userReview in allReviews %}
                        <a href="/app/review/{{ userReview.id }}">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user"><path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"/><circle cx="12" cy="7" r="4"/></svg>
                            </div>
                            <span>{{userReview.user}}</span>
                        </a>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>

    <div class="review-modal">
        <div>
            <button id="closeModal">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg> 
            </button>

            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="action" value="submit_review">
                <label for="texto">Review</label>
                <textarea id="texto" name="textoDaReview" class="reviewText"></textarea>
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        function getCSRFToken() {
            var cookieValue = null;
            if (document.cookie && document.cookie !== "") {
                var cookies = document.cookie.split(";");
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, 10) === "csrftoken=") {
                        cookieValue = decodeURIComponent(cookie.substring(10));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        document.getElementById("like").addEventListener("click", async () => {
            const res = await fetch("/app/filme/{{filme.id}}/", {
                method: "POST",
                headers: {
                    "X-CSRFToken": getCSRFToken()
                }
            })
            const data = await res.json();
            
            alert(data.message.concat(" {{ filme.nome }}"));

            if(res.ok) {
                window.location.reload();
            }
        });

        function toggleModal() {
            const modal = document.getElementsByClassName("review-modal")[0];
            modal.classList.toggle("active");
        }

        document.getElementById("addReview").addEventListener("click", toggleModal)
        document.getElementById("closeModal").addEventListener("click", toggleModal)
    </script>
{% endblock %}
